@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kz9iep');
  src:  url('fonts/icomoon.eot?kz9iep#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kz9iep') format('truetype'),
    url('fonts/icomoon.woff?kz9iep') format('woff'),
    url('fonts/icomoon.svg?kz9iep#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-zip:before {
  content: "\e92b";
}
